* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f1f5f8;
  font-family: 'Montserrat', sans-serif;
}
.projets {
  width: 1300vw;
  max-width: 1800px;
  margin: 2rem auto;
  display: grid;
  gap: 3rem;
}

@media screen and (min-width: 1200px) {
  .projets {
    grid-template-columns: repeat(3, 1fr);
  }
}
