* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f1f5f8;
  color: #222;
  font-family: 'Roboto', sans-serif;
}

.projets {
  border: 2px solid blue;
  width: 1300vw;
  max-width: 1800px;
  margin: 5rem auto;
  display: grid;
  gap: 3rem;
}

@media screen and (min-width: 768px) {
  .projets {
    grid-template-columns: repeat(3, 1fr);
  }
}
